@import "tailwindcss";


@theme{
    --color-mint :  #36FBC1;
    --color-lightgray : #CCCBCB;
    --color-darkgray : #1E1E1E;
    --color-softgray : #C2C2C2;
    --color-darkergray: #2B2B2B;
}

/* @tailwind base;
@tailwind components;
@tailwind utilities; */

@layer components {
  .btn-primary {
    /* @apply rounded-full text-white font-semibold shadow-md px-5 py-2; */

    background: linear-gradient(
      90deg,
        rgba(54, 251, 193, 1) 0%,
        rgba(43, 192, 228, 1) 100%

    );

    &:hover {
      @media (hover: hover) {
        background: linear-gradient(
          90deg,
        rgba(54, 251, 193, 0.9) 0%,
        rgba(43, 192, 228, 0.9) 100%

        );
      }
    }
  }


  .btn-size{
    @apply rounded-full
  }



  .navbarLink {
    @apply text-white font-semibold text-lg cursor-pointer transition;

    &:hover {
      background: linear-gradient(90deg, rgba(54, 251, 193, 1), rgba(43, 192, 228, 1));
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      color: transparent;
    }

  }

  .navbarLinkActive {
    background: linear-gradient(
      90deg,
      rgba(54, 251, 193, 1) 0%,
      rgba(43, 192, 228, 1) 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
  }

  .taxt-grad{
    background: linear-gradient(90deg, rgba(54, 251, 193, 1), rgba(43, 192, 228, 1));
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      color: transparent;
  }

  .grad-bg{
        background: linear-gradient(
      90deg,
        rgba(54, 251, 193, 1) 0%,
        rgba(43, 192, 228, 1) 100%

    );
  }
}
